* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0 40px;
}

body {
	background-image: url(img/1.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.box {
	width: 700px;
	margin: 240px auto;
	font-size: 30px;
	font-weight: bold;
	font-family: lato;
	text-align: center;
}
.typed {
	color: #4f46e5;
}
.box h2 {
	font-size: 80px;
	color: #fff;
	margin: 0;
	font-family: lato;
	font-weight: 900;
	text-transform: uppercase;
}
#example {
	margin: 0;
	color: "from-[#80caff] to-[#4f46e5]";
}
